{% extends 'layout_vente.html.twig' %}

{% block title %}

{% endblock %}

{% block titre_principal %}

{% endblock %}

{% block vue %}
    <h2>Vous avez {{ countArticles }} articles</h2>
{% endblock %}

