{% include 'User/view.html.twig' %}
<p>Admin page</p>
    <p><a href="{{ path('security_logout') }}">Se déconnecter</a></p>
    <p><a href="{#{{ path('gerer_client') }}#}">gérer les clients</a></p>
    <p><a href="{#{{ path('creer_produit') }}#}" >créer un produit</a></p>
    <p><a href="{#{{ path('aller_exterieur') }}#}">vers un site extérieur</a></p>




