
{% include 'User/view.html.twig' %}

    <p>Superadmin page</p>
    <p><a href="{{ path('security_logout') }}">Se déconnecter</a></p>
    <p><a href="{{ path('home_index') }}" >Aller à la page d’accueil</a></p>
    <p><a href="{{ path('user_edit') }}">Gérer son profil</a></p>
    <p><a href="{{ path('superadmin_addAdmin') }}">créer un administrateur</a></p>


