
{% include 'User/view.html.twig' %}

    <p>Superadmin page</p>
    <p><a href="{{ path('security_logout') }}">Se déconnecter</a></p>
    <p><a href="{{ path('home_index') }}" >aller à la page d’accueil</a></p>
    <p><a href="{#{{ path('gerer_profil') }}#}">gérer son profil</a></p>
    <p><a href="{#{{ path('creer_admin') }}#}">créer un administrateur</a></p>


