{% extends 'Layouts/layout_vente.html.twig' %}

{% block title %}
    {{ parent() }} Edit User
{% endblock %}

{% block titre_principal %}
    {{ parent() }} Edit User
{% endblock %}

{% block vue %}

    <h2>Modification d'un User</h2>

 {{form(myform) }}



{% endblock %}

